<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>    Register Clinic Appointment Management</title>
    <!-- Favicon -->
    <link rel="icon" href="assets/img/image.jpg" type="image/png">
    <meta name="csrf-token" content="nrJBUDf7PbXGdrow8oYvhldW21DJXw4gsjE28BqT">
    <!-- Fonts -->
    <!-- General CSS Files -->
    <link rel="stylesheet" type="text/css" href="https://infycare.infyom.com/assets/css/style.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>

    <link rel="stylesheet" type="text/css" href="https://infycare.infyom.com/assets/css/third-party.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/pages.css?id=d16ecf1fb5a48f16de36">
    <link rel="stylesheet" type="text/css" href="https://infycare.infyom.com/assets/css/style.css">

    <!-- CSS Libraries -->
</head>

<body
        class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed toolbar-tablet-and-mobile-fixed aside-enabled aside-fixed">
<div class="d-flex flex-column flex-root">
    <div
            class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed authImage">
        <div class="d-flex flex-column flex-column-fluid align-items-center justify-content-center p-4">
            <div class="col-12 text-center">
                <a href="/" class="image mb-7 mb-sm-10">
                    <img alt="Logo" src="assets/img/image.jpg" class="img-fluid" style="width:90px;">
                </a>
            </div>
            <div class="width-540">
            </div>


            <h1 style="text-align:center">Patient Registration</h1>
            <div class="bg-white rounded-15 shadow-md width-540 px-5 px-sm-7 py-10 mx-auto">
                <form method="post">
<!--                    <input type="hidden" name="_token" value="nrJBUDf7PbXGdrow8oYvhldW21DJXw4gsjE28BqT">-->
                    <div class="container-md">
                        <label for="name">Patient Name:<span class="required"></span></label>
                        <input type="text" class="form-control" id="name"  placeholder="Patient Name" name="patient_name">
                    </div>
                    <div class="container-md">
                        <label for="address" >Address:<span class="required"></span></label>
                        <input  type="text" class="form-control" id="address"  placeholder=" Enter Your Address" name="patient_address">
                    </div>

                    <div class="container-md">
                        <label  for="phone">Phone:<span class="required"></span></label>
                         <input type="tel" class="form-control" id="phone"  placeholder="Enter Your Phone number" name="patient_phone">
                    </div>

                        <div class="container-md">
                            <label for="email" >Email:<span class="required"></span></label>
                            <input  type="email" class="form-control" id="email"  placeholder="Email" name="patient_email">
                        </div>

                    <div class="container-md">
                        <label for="dob">DOB</label>
                            <input type="date" class="form-control" id="dob" name="patient_dob">
                    </div>

                    <div class="container-md">
                        <label for="age">Patient Age<span class="required"></span></label>
                        <input  type="text"  class="form-control"  id="age" name="patient_age">
                    </div>    <br>


<!--                        <div class="mb-sm-7 mb-4 form-check">-->
<!--                            <input type="checkbox" class="form-check-input" name="toc" value="1" required/>-->
<!--                            <span class="text-gray-700 me-2 ml-1">I Agree-->
<!--									<a href="https://infycare.infyom.com/terms-conditions"-->
<!--                                       class="ms-1 link-primary">Terms and conditions</a>.-->
<!--                        </span>-->
<!--                        </div>-->

                    <fieldset>
                        <div lass="container-md">
                            Choose gender:<input type="radio" id="radioMale" name = "patient_gender" value="Male">Male</input>
                            <input type="radio" id="radioFemale" name = "patient_gender" value="Female">Female</input>
                        </div>
                    </fieldset>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                        <div class="d-flex align-items-center mt-4">
                            <span class="text-gray-700 me-2">Already have an account?</span>
                            <a href="/login" class="link-info fs-6 text-decoration-none">
                                Sign in here
                            </a>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid padding-0">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-6">
                <div class="copyright text-center text-muted">
                    All rights reserved &copy; 2023 <a href="/"class="font-weight-bold ml-1" target="_blank">Clinic Appointment Management</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Scripts -->
<script src="https://infycare.infyom.com/backend/js/vendor.js"></script>
<script src="/assets/js/auto_fill/auto_fill.js?id=2ce01d55e867c3ab0651"></script>
<script src="https://infycare.infyom.com/backend/js/3rd-party-custom.js"></script>
<script>
    $(document).ready(function () {
        $('.alert').delay(5000).slideUp(300);
    });
</script>
</body>
</html>

