<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%" >
    <h3 class="w3-bar-item">HomeTown Clinic</h3>
        <a href="/bookingcreate" class="w3-bar-item w3-button">Booking creat</a>
        <a href="/bookingview" class="w3-bar-item w3-button">Booking view</a>
        </div>
<h1 style="text-align: center">welcome to patientdashboard</h1>


</body>
</html>