<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%" >
    <h3 class="w3-bar-item">HomeTown Clinic</h3>
    <a href="/patientfordoctorview" class="w3-bar-item w3-button">Doctor</a>
    <a href="/bookingcreate" class="w3-bar-item w3-button">Booking creat</a>
    <a href="/bookingviewforpatient" class="w3-bar-item w3-button">Booking view</a>
    <a href="logout" style="color: red" class="w3-bar-item w3-button">Logout</a>
        </div>
<h1 style="text-align: center">welcome to patientdashboard</h1>

<div style="margin-left:25%">
    <div class="w3-container">
        <span>Welcome </span>
        <span th:text="${patientname}"></span>
    </div>
</div>
</body>
</html>