<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>    Register
        | Clinic Appointment Management</title>
    <!-- Favicon -->
    <link rel="icon" href="assets/img/image.jpg" type="image/png">
    <meta name="csrf-token" content="nrJBUDf7PbXGdrow8oYvhldW21DJXw4gsjE28BqT">
    <!-- Fonts -->
    <!-- General CSS Files -->
    <link rel="stylesheet" type="text/css" href="https://infycare.infyom.com/assets/css/style.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>

    <link rel="stylesheet" type="text/css" href="https://infycare.infyom.com/assets/css/third-party.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/pages.css?id=d16ecf1fb5a48f16de36">
    <link rel="stylesheet" type="text/css" href="https://infycare.infyom.com/assets/css/style.css">

    <!-- CSS Libraries -->
</head>

<body
        class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed toolbar-tablet-and-mobile-fixed aside-enabled aside-fixed">
<div class="d-flex flex-column flex-root">
    <div
            class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed authImage">
        <div class="d-flex flex-column flex-column-fluid align-items-center justify-content-center p-4">
            <div class="col-12 text-center">
                <a href="https://infycare.infyom.com" class="image mb-7 mb-sm-10">
                    <img alt="Logo" src="https://infycare-demo.nyc3.digitaloceanspaces.com/58/infyCare-logo.png" class="img-fluid" style="width:90px;">
                </a>
            </div>
            <div class="width-540">
            </div>
            <div class="bg-white rounded-15 shadow-md width-540 px-5 px-sm-7 py-10 mx-auto">
                <h1 class="text-center mb-7">Patient Registration</h1>
                <form method="POST" action="https://infycare.infyom.com/register" >
                    <input type="hidden" name="_token" value="nrJBUDf7PbXGdrow8oYvhldW21DJXw4gsjE28BqT">                <div class="row">
                    <div class="col-md-6 mb-sm-7 mb-4">
                        <label for="formInputFirstName" class="form-label">
                            First Name:<span class="required"></span>
                        </label>
                        <input name="first_name" type="text" class="form-control" id="name" aria-describedby="firstName" placeholder="First Name" value="" required>
                    </div>
                    <div class="col-md-6 mb-sm-7 mb-4">
                        <label for="last_name" class="form-label">
                            Last Name:<span class="required"></span>
                        </label>
                        <input name="last_name" type="text" class="form-control" id="last_name" aria-describedby="lastName" placeholder="Last Name" required value="">
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-12 mb-sm-7 mb-4">
                            <label for="email" class="form-label">
                                Email:<span class="required"></span>
                            </label>
                            <input name="email" type="email" class="form-control" id="email" aria-describedby="email" placeholder="Email" value="" required>
                        </div>
                    </div>
                    <div class="mb-5 fv-row">
                        <div class="row">
                            <div class="col-md-6 mb-sm-7 mb-4">
                                <label for="password" class="form-label">
                                    Password:<span class="required"></span>
                                </label>
                                <input type="password" name="password" class="form-control" id="password" placeholder="Password" aria-describedby="password" required>
                            </div>
                            <div class="col-md-6 mb-sm-7 mb-4">
                                <label for="password_confirmation" class="form-label">
                                    Confirm Password:<span class="required"></span>
                                </label>
                                <input name="password_confirmation" type="password" class="form-control" placeholder="Confirm Password" id="password_confirmation" aria-describedby="confirmPassword" required>
                            </div>
                        </div>

                        <div class="mb-sm-7 mb-4 form-check">
                            <input type="checkbox" class="form-check-input" name="toc" value="1" required/>
                            <span class="text-gray-700 me-2 ml-1">I Agree
									<a href="https://infycare.infyom.com/terms-conditions"
                                       class="ms-1 link-primary">Terms and conditions</a>.
                        </span>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <div class="d-flex align-items-center mt-4">
                            <span class="text-gray-700 me-2">Already have an account?</span>
                            <a href="https://infycare.infyom.com/login" class="link-info fs-6 text-decoration-none">
                                Sign in here
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid padding-0">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-6">
                <div class="copyright text-center text-muted">
                    All rights reserved &copy; 2023 <a href="/"
                                                       class="font-weight-bold ml-1"
                                                       target="_blank">Clinic Appointment Management</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Scripts -->
<script src="https://infycare.infyom.com/backend/js/vendor.js"></script>
<script src="/assets/js/auto_fill/auto_fill.js?id=2ce01d55e867c3ab0651"></script>
<script src="https://infycare.infyom.com/backend/js/3rd-party-custom.js"></script>
<script>
    $(document).ready(function () {
        $('.alert').delay(5000).slideUp(300);
    });
</script>
</body>
</html>

