<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>    Login
        | Clinic Appointment Management</title>
    <!-- Favicon -->
    <link rel="icon" href="assets/img/image.jpg" type="image/png">
    <meta name="csrf-token" content="nrJBUDf7PbXGdrow8oYvhldW21DJXw4gsjE28BqT">
    <!-- Fonts -->
    <!-- General CSS Files -->
    <link rel="stylesheet" type="text/css" href="https://infycare.infyom.com/assets/css/style.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>

    <link rel="stylesheet" type="text/css" href="https://infycare.infyom.com/assets/css/third-party.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/pages.css?id=d16ecf1fb5a48f16de36">
    <link rel="stylesheet" type="text/css" href="https://infycare.infyom.com/assets/css/style.css">

    <!-- CSS Libraries -->
</head>

<body
        class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed toolbar-tablet-and-mobile-fixed aside-enabled aside-fixed">
<div class="d-flex flex-column flex-root">
    <div
            class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed authImage">
        <div class="d-flex flex-column flex-column-fluid align-items-center justify-content-center p-4">
            <div class="col-12 text-center">
                <a href="/" class="image mb-7 mb-sm-10">
                    <img alt="Logo" src="assets/img/image.jpg" class="img-fluid" style="width:90px;">
                </a>
            </div>
            <div class="width-540">
            </div>
            <div class="bg-white rounded-15 shadow-md width-540 px-5 px-sm-7 py-10 mx-auto">
                <h1 class="text-center mb-7">Sign In</h1>
                <div th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>

                <form method="POST" th:action="@{/}">
                <div class="mb-sm-7 mb-4">
                    <label for="email" class="form-label">
                        Email:<span class="required"></span>
                    </label>
                    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" required placeholder="Enter Email">
                </div>

                    <div class="mb-sm-7 mb-4">
                        <div class="d-flex justify-content-between">
                            <label for="password" class="form-label">Password:<span
                                    class="required"></span></label>
                            <a href="" class="link-info fs-6 text-decoration-none">

                            </a>
                        </div>
                        <input name="password" type="password" class="form-control" id="password" required placeholder="Enter Password">
                    </div>
                    <div class="d-grid mb-4">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
<!--                            <a href="/adminlogin">-->
<!--                                <button type="button" class="btn btn-warning w-100 admin-login mt-5" tabindex="4" >Admin</button>-->
<!--                            </a>-->

<!--                            <div class="row justify-content-between mt-5">-->
<!--                                <div class="col-6">-->
<!--                                    <a href="/doctorlogin">-->
<!--                                        <button type="button" class="btn btn-success w-100 doctor-login" tabindex="4">Doctor</button>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <a href="/patientlogin">-->
<!--                                        <button type="button" class="btn btn-danger w-100 patient-login" tabindex="4">Patient</button>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="d-flex align-items-center mb-10 mt-4">
                        <span class="text-gray-700 me-2">New Here?</span>
                        <a href="/Sigin" class="link-info fs-6 text-decoration-none">
                            Create an Account
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid padding-0">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-6">
                <div class="copyright text-center text-muted">
                    All rights reserved &copy; 2023 <a href="/"
                                                       class="font-weight-bold ml-1"
                                                       target="_blank">Clinic Appointment Management</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Scripts -->
<script src="https://infycare.infyom.com/backend/js/vendor.js"></script>
<script src="/assets/js/auto_fill/auto_fill.js?id=2ce01d55e867c3ab0651"></script>
<script src="https://infycare.infyom.com/backend/js/3rd-party-custom.js"></script>
<script>
    $(document).ready(function () {
        $('.alert').delay(5000).slideUp(300);
    });
</script>
</body>
</html>