<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="mb-3">
    <form th:object="${patienthealth}" th:action="@{/patienthealth}" method="post">
        <label >Textarea</label>
        <textarea class="form-control " id="" placeholder="Required example textarea" th:field="*{disease}" required></textarea>
        <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1" hidden=hidden name="email"required th:field="*{patient.patient_id}">
        </div>
        <button type="submit" class="btn btn-primary" style="text-align: right">Save</button>
    </form>
</div>
</body>
</html>